<h1><%= @user.username %></h1>

<% if @user.beer_clubs.any? %>
    <p>member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club%>
      <% end %>
    </p>
<% else %>
    <p>no beerclub memberships</p>
<% end %>

<% if @user.ratings.any? %>
    <p> Favorite beer: <%= link_to @user.favorite_beer.name, @user.favorite_beer %> </p>
    <p> Favorite brewery: <%= link_to @user.favorite_brewery.name, @user.favorite_brewery %> </p>
    <p> Favorite style: <%= link_to @user.favorite_style.name, @user.favorite_style %> </p>
    <p> average rating: <%= @user.average_rating %></p>

    <h3>ratings</h3>

    <p>Total amount <%= @user.ratings.count %></p>

    <ul>
      <% @user.ratings.each do |r| %>
          <li>
            <%= r %>
            <% if @user == current_user %>
                <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
      <% end %>
    </ul>
<% else %>
    <p>Hasn't rated any beers!</p>
<% end %>

<% if @user == current_user %>
    <%= link_to 'Change password', edit_user_path(@user), class:'btn btn-default btn-sm' %>
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %>
<% end %>
