<p id="notice"><%= notice %></p>

<h2><%= @style.name %></h2>

<p><%= @style.description %></p>

<h3>beers</h3>

<% if @style.beers.any? %>

    <ul>
      <% @style.beers.each do |beer| %>
          <li>
            <%= link_to beer.name, beer %>
          </li>
      <% end %>
    </ul>

    <% if @style.ratings.empty? %>
        <p>have not yet been rated!</p>
    <% else %>
        <p>have been rated <%= pluralize(@style.ratings.count, 'time') %>, average score is <%= @style.average_rating %></p>
    <% end %>
<% else %>
    <p>No beers added, thus no ratings.</p>
<% end %>

<% if current_user %>
    <%= link_to 'Edit', edit_style_path(@style) %> |
    <%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
