<h2><%= @place.name %></h2>

<p><%= @place.street %>
  <br>
  <%= @place.zip %> <%= @place.city %>
  <br>
  <%= @place.country %>
  <br>
  <%= @place.phone %>
</p>


<iframe src="<%= @place.url %>" width="600" height="400"></iframe>